{% extends 'base-front.html.twig' %}
{% block title %}Produit index{% endblock %}
{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Produitid</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.produitid }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.type }}</td>
                <td>{{ produit.prix }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'produitid': produit.produitid}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'produitid': produit.produitid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}
