{% extends 'base-back.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Commandeid</th>
                <th>Datecreation</th>
                <th>Dateexpedition</th>
                <th>Datearrivee</th>
                <th>Nomclient</th>
                <th>Nomlivreur</th>
                <th>Nomresto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.commandeid }}</td>
                <td>{{ commande.datecreation ? commande.datecreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.dateexpedition ? commande.dateexpedition|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.datearrivee ? commande.datearrivee|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.nomclient }}</td>
                <td>{{ commande.nomlivreur }}</td>
                <td>{{ commande.nomresto }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'commandeid': commande.commandeid}) }}">show</a>
                    <a href="{{ path('app_commande_edit', {'commandeid': commande.commandeid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}">Create new</a>
{% endblock %}
