{% extends 'backbase.html.twig' %}

{% block title %}List des commande{% endblock %}

{% block body %}
<div class="box-bg-white col-md-12 col-xs-12">
<html>

<body>

<h1>List des Commande</h1>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Date de creation</th>
        <th>Date d'expiration</th>
        <th>Client Email</th>
        <th>Client Phone Number</th>

    </tr>
    </thead>
    <tbody>
    {% for commande in c %}
        <tr>
            <td>{{ commande.commandeid}}</td>
            <td>{{ commande.datecreation.format('Y-m-d') }}</td>
            <td>{{ commande.dateexpedition.format('Y-m-d') }}</td>
            <td>{{ commande.clientid.email }}</td>
            <td>{{ commande.clientid.phonenumber }}</td>
            <td>
                <a href="{{ path('livrer', {'id': commande.commandeid}) }}">Livrer</a>
            </td>

        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
</div>

{% endblock %}
