{% extends 'base-back.html.twig' %}

{% block title %}Organisation{% endblock %}

{% block body %}
    <h1>Organisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Organisationid</th>
                <td>{{ organisation.organisationid }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ organisation.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ organisation.adresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ organisation.email }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ organisation.numero }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_organisation_index') }}">back to list</a>

    <a href="{{ path('app_organisation_edit', {'organisationid': organisation.organisationid}) }}">edit</a>

    {{ include('organisation/_delete_form.html.twig') }}
{% endblock %}
