{% extends 'base-back.html.twig' %}
{% block title %}Offre index
	<style>
		a {
			color: inherit;
		}
	</style>
{% endblock %}
{% block body %}
	<h1>Liste des offres({{ offres|length }})
	</h1>
	<div
		class="row">
		{# <div class="col-md-12">
					<p class="text-roboto-light">30 Products in Category
						strong>Healthy</strong>
					</p>
				</div> #}

		<div class="caption box" style="background-color: unset !important">
			{% for offre in offres %}
				<div class="row-sm-2 row-md-3">
					<a href="#" class="thumbnail thumbnail_item less-padding less-margin" style="background-color: unset !important">
						<img src="{{ vich_uploader_asset(offre.produitid, 'image') }}" alt="{{ offre.produitid.nom }}" style ="width:100px">
					</a>
					<div class="col" style="margin-right: unset !important; margin-left: unset !important">
						<div class="row-sm-6 row-md-6">
							<h3 style="margin-top: -1px !important">{{ offre.produitid.nom }}</h3>
							<p class="default-userProductList-CardList-price">{{ offre.produitid.type }}</p>
							<span class="min-order">{{ offre.prix }}</span><br>
                            <span class="min-order" style="font-weight:bold">{{ offre.datefin|date('D, h.i') }}</span>       
						</div>
						<div class="row-sm-6 row-xs-6">
							<button class="btn default-userProductList-CardList-button pull-right" role="button" style="margin-top: 20px !important">
							<a href="{{ path('app_offre_show', {'offreid': offre.offreid}) }}" style="color : white">Voir plus</a>
							</button>
						</div>
					</div>
				</div>
			{% else %}
				<div>
					<p>no offers found</p>
				</div>
			{% endfor %}
		</div>
	</div>
	<a href="{{ path('app_offre_new') }}">Create new</a>
{% endblock %}
